.logo {
	 text-align: center;
}
 nav ul {
	 margin: 0;
	 padding: 5;
	 list-style: none;
}
 nav li {
	 display: inline-grid;
	 width: 16%;
}
nav li img {
	height: 80px;
	width: 80px;
    border-color: red;
    border-style: ridge;
}
nav li span {
	display: block;
	font-weight: bold;
	font-size: 18px;
}
 body {
	 background-image: linear-gradient(to right, #E2BCBB, #f16159);
}
a {
	 color: #5b4684
}
h1 {
	color: #050756
}